<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="discord_client_id" value="YOUR_DISCORD_CLIEN_ID"/>
      <add key="spotify_client_id" value="YOUR_SPOTIFY_CLIENT_ID"/>
      <add key="spotify_client_secret" value="YOUR_SPOTIFY_CLIENT_SECRET"/>
    </appSettings>
</configuration>